.img {
    width:300px;
    height:300px;
}

.img:hover {
    opacity: 0.5;
    cursor:pointer;
}

.imgdiv {
    display: flex;
    width:100vw;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}